<!-- <div class="singleFeed" class="col-md-3"> -->

<div class="panel-heading">
	<a href="#feeds/<%= feed.id %>/entries">
		<h3 class="panel-title"><%= feed.get('title') %></h3>
	</a>

	<% if (feed.get('liked') === true) { liked = 'liked' } %>
	<% if (feed.get('unliked') === true) { unliked = 'unliked' } %>
	<% if (feed.get('liked') === undefined || feed.get('liked') === false) { liked = '' } %>
	<% if (feed.get('unliked') === undefined || feed.get('unliked') === false) { unliked = '' } %>

	<span class="glyphicon glyphicon-circle-arrow-up like <%= liked %>"
		data-id="<%= feed.id %>"></span>
	<span class="glyphicon glyphicon-circle-arrow-down unlike <%= unliked %>"
		data-id="<%= feed.id %>"></span>
</div>

<div class="panel-body">
	<% title0 = feed.entries().models[0].get('title'); %>
	<% entry_url0 = feed.entries().models[0].get('link') %>

	<% title1 = feed.entries().models[1].get('title'); %>
	<% entry_url1 = feed.entries().models[1].get('link') %>

	<% title2 = feed.entries().models[2].get('title'); %>
	<% entry_url2 = feed.entries().models[2].get('link') %>

	1) <a href="<%= entry_url0 %>"><%= title0 %></a><br>
	2) <a href="<%= entry_url1 %>"><%= title1 %></a><br>
	3) <a href="<%= entry_url2 %>"><%= title2 %></a><br>
</div>