<div class="navbar navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Amelia</a>
			</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li>
							<% if current_user.nil? %>
								<li><a href="">Feeds</a>
							<% else %>
								<a href="/users/<%= current_user.id %>#/users/<%= current_user.id%>/feeds" class="feeds-link">Feeds</a>
							<% end %>
						</li>
						<li>
							<a href="#">Articles</a>
						</li>
						<li class="trash-can">
							<a href="#"><img class="trash-can" src="/images/trash_can_inverted.png"></a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<% if current_user.nil? %>
							<li><%= link_to "Create Account", new_user_url %></li>
							<li><%= link_to "Sign in", new_session_url %></li>
						<% else %>
							<li>
								<a href="#" class="add-news-source" data-toggle="modal" data-target="#add-news-modal">Add News Source</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= current_user.username %><b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Profile</a>
									</li>
									<li>
										<%= link_to "Sign Out", session_url, method: :delete %>
									</li>
								</ul>
							</li>
						<% end %>
					</ul>
				</div>
		</div>
	</div>
</div>

<%= render 'layouts/add_news_modal' %>