<!DOCTYPE html>
<html>
<head>
  <title>InstaTech</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">
		$(document).ready(function() {
			$('body').toggleClass('on off');
		});
	</script>

</head>
<body class="off">
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="backbone-container fadein scaleInv anim_1">

			<div class="inner-body fadein scaleInv anim_2">
				<%= yield %>
        <div id="feed-view"></div>
			</div>

			<div class= "body-footer fadein scaleInv anim_3">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</div>

</body>
</html>
